<form [formGroup]="formulaire" (ngSubmit)="submit()" name="formulaire">

  <div class="row">
    <div class="col">
      <div class="form-group">
          Entrez votre nom :
          <input type="text" class="form-control" formControlName="nom"/>
      </div>
    </div>
  </div>
  <span *ngIf="nom.valid == false && nom.touched == true" class="erreur">Le nom est invalide (Nom requis et uniquement des lettres avec la première en majuscule) </span>

  <div class="row">
    <div class="col">
      <div class="form-group">
          Entrez votre prénom :
          <input type="text" class="form-control" formControlName="prenom" />
      </div>
    </div>
  </div>
  <span *ngIf="prenom.valid == false && prenom.touched == true" class="erreur">Le prénom est invalide (Prenom requis et uniquement des lettres avec la première en majuscule)</span>


  <div class="row">
    <div class="col">
      <div class="form-group">
          Entrez votre âge :
          <input type="number" class="form-control" formControlName="age" />
      </div>
    </div>
  </div>
  <span *ngIf="age.valid == false && age.touched == true" class="erreur">L'âge est invalide</span>


  <div class="row">
    <div class="col">
      <div class="form-group">
          Entrez votre Email :
          <input type="email" class="form-control" formControlName="email" />
      </div>
    </div>
  </div>
  <span *ngIf="email.valid == false && email.touched == true" class="erreur">L'email est invalide</span>


  <div class="row">
    <div class="col">
      <input type="submit" class="btn btn-default" value="Validez !"/>
    </div>
  </div>


</form>

<div class="row">
  <div class="col">
    <b>Informations saisies :</b>
  </div>
</div>

<div class="row">
  <div class="col">
      Nom saisi : {{ nom.value }}
  </div>
</div>

<div class="row">
  <div class="col">
    Prenom saisi :  {{ prenom.value }}
  </div>
</div>

<div class="row">
  <div class="col">
    Age saisi :  {{ age.value }}
  </div>
</div>

<div class="row">
  <div class="col">
    Email saisi :  {{ email.value }}
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <b>Liste des utilisateurs déjà inscrits :</b>
  </div>
  <div class="col-md-8">
    <span class="liste" *ngFor = "let utilisateurs of listeUtilisateurs ">
        Nom : {{ utilisateurs.nom }};
        Prenom : {{ utilisateurs.prenom }};
        Age : {{ utilisateurs.age }};
        Email : {{ utilisateurs.email }} |
    </span>
  </div>
</div>


